// colors
$darkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);
$colorSoftViolet: hsl(273, 75%, 66%);
$colorSoftBlue: hsl(240, 73%, 65%);
$colorLightGrayishBlue: hsl(240, 5%, 91%);
$colorWhite: hsl(0, 0, 100%);
$colorBrightGray: hsl(0, 0%, 91%);
$colorGray: hsl(252, 3%, 70%);
$colorBrightOrange: hsl(15, 78%, 69%);


// Font weights
$font-weight-normal: 400;
$font-weight-bold: 700;
